<!DOCTYPE html>
<html>

	<head>
		<title>Web Test</title>

		<!-- Library scripts. -->
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/client/three.min.js"></script>
		<script src="/js/client/jquery-3.2.1.slim.min.js"></script>

		<!-- Custom scripts. -->
		<script src="/js/client/client.js"></script>
	</head>

	<body>
		<!-- Three.js inserted here. -->
	</body>

</html>